.btn {
        width: 30px;
        height: 29px;
        padding: 3px;
        margin: 0px 0;
	position:relative;
        display:inline-block;
        font-size:13px;
        font-weight:bold;
        line-height:20px;
        color:#333;
        white-space:nowrap;
        vertical-align:middle;
        cursor:pointer;
        background-color:#eee;
        background-image:linear-gradient(#fcfcfc,#eee);
        border:1px solid #d5d5d5;
        border-radius:3px;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        -webkit-appearance:none;
}
.btn i {
        font-style:normal;
        font-weight:500;
        opacity:0.6
}
.btn .octicon {
        vertical-align:text-top
}
.btn .counter {
        text-shadow:none;
        background-color:#e5e5e5
}
.btn:focus {
        text-decoration:none;
        border-color:#51a7e8;
        outline:none;
        box-shadow:0 0 5px rgba(81,167,232,0.5)
}
.btn:focus:hover,.btn.selected:focus {
        border-color:#51a7e8
}
.btn:hover,.btn:active,.btn.zeroclipboard-is-hover,.btn.zeroclipboard-is-active {
        text-decoration:none;
        background-color:#ddd;
        background-image:linear-gradient(#eee,#ddd);
        border-color:#ccc
}
.btn:active,.btn.selected,.btn.zeroclipboard-is-active {
        background-color:#dcdcdc;
        background-image:none;
        border-color:#b5b5b5;
        box-shadow:inset 0 2px 4px rgba(0,0,0,0.15)
}
.btn.selected:hover {
        background-color:#cfcfcf
}
.btn:disabled,.btn:disabled:hover,.btn.disabled,.btn.disabled:hover {
        color:rgba(102,102,102,0.5);
        cursor:default;
        background-color:rgba(229,229,229,0.5);
        background-image:none;
        border-color:rgba(197,197,197,0.5);
        box-shadow:none
}
.btn-primary {
        color:#fff;
        text-shadow:0 -1px 0 rgba(0,0,0,0.15);
        background-color:#60b044;
        background-image:linear-gradient(#8add6d,#60b044);
        border-color:#5ca941
}
.btn-primary .counter {
        color:#60b044;
        background-color:#fff
}
.btn-primary:hover {
        color:#fff;
        background-color:#569e3d;
        background-image:linear-gradient(#79d858,#569e3d);
        border-color:#4a993e
}
.btn-primary:active,.btn-primary.selected {
        text-shadow:0 1px 0 rgba(0,0,0,0.15);
        background-color:#569e3d;
        background-image:none;
        border-color:#418737
}
.btn-primary.selected:hover {
        background-color:#4c8b36
}
.btn-primary:disabled,.btn-primary:disabled:hover,.btn-primary.disabled,.btn-primary.disabled:hover {
        color:#fefefe;
        background-color:#add39f;
        background-image:linear-gradient(#c3ecb4,#add39f);
        border-color:#b9dcac #b9dcac #a7c89b
}
.btn-danger {
        color:#900
}
.btn-danger:hover {
        color:#fff;
        background-color:#b33630;
        background-image:linear-gradient(#dc5f59,#b33630);
        border-color:#cd504a
}
.btn-danger:active,.btn-danger.selected {
        color:#fff;
        background-color:#b33630;
        background-image:none;
        border-color:#9f312c
}
.btn-danger.selected:hover {
        background-color:#9f302b
}
.btn-danger:disabled,.btn-danger:disabled:hover,.btn-danger.disabled,.btn-danger.disabled:hover {
        color:#cb7f7f;
        background-color:#efefef;
        background-image:linear-gradient(#fefefe,#efefef);
        border-color:#e1e1e1
}
.btn-danger:hover .counter,.btn-danger:active .counter,.btn-danger.selected .counter {
        color:#b33630;
        background-color:#fff
}
.btn-outline {
        color:#4078c0;
        background-color:#fff;
        background-image:none;
        border:1px solid #e5e5e5
}
.btn-outline .counter {
        background-color:#eee
}
.btn-outline:hover,.btn-outline:active,.btn-outline.selected,.btn-outline.zeroclipboard-is-hover,.btn-outline.zeroclipboard-is-active {
        color:#fff;
        background-color:#4078c0;
        background-image:none;
        border-color:#4078c0
}
.btn-outline:hover .counter,.btn-outline:active .counter,.btn-outline.selected .counter,.btn-outline.zeroclipboard-is-hover .counter,.btn-outline.zeroclipboard-is-active .counter {
        color:#4078c0;
        background-color:#fff
}
.btn-outline.selected:hover {
        background-color:#396cad
}
.btn-outline:disabled,.btn-outline:disabled:hover,.btn-outline.disabled,.btn-outline.disabled:hover {
        color:#767676;
        background-color:#fff;
        background-image:none;
        border-color:#e5e5e5
}
.btn-with-count {
        float:left;
        border-top-right-radius:0;
        border-bottom-right-radius:0
}
.btn-sm {
        padding:2px 10px
}

